################################
# Chained OpenVPN Client Config
################################
# The url trying to access in the
# first time after connecting to 
# a client (defualt: https://api.games.umamusume.jp)
FIRST_CHECK_URL=
# The acceptable status for the
# access above (http response code)
# (default: any response code)
FIRST_CHECK_AVAILABLE_STATUS=
# The basic url to try accessing
# (defualt: https://www.google.com/generate_204)
CHECK_URL=
# The basic acceptable status
# for basic checking (default: 204)
CHECK_AVAILABLE_STATUS=
# Interval of the basic check
# (minutes) (default: 30)
CHECK_INTERVAL=
# Target Host of Auto Ping for keeping
# connection alive (default: 8.8.8.8)
PING_HOST=
# Interval of Auto Ping for keeping
# connection alive (seconds)
# (default: 20)
PING_INTERVAL=
# Interval of auto refreshing
# the client (minutes) 
# (default: disabled)
AUTO_REFRESH_INTERVAL=

##########################
# OpenVPN Server Config
##########################
# Server Public IP or Hostname
# (default: 127.0.0.1)
SERVER_HOST=
# Server Port
# (default: 46159)
SERVER_PORT=
